@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling and disable standard scrollbars for PWA feel */
body {
  overscroll-behavior-y: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}